@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
@Scripts.Render("~/bundles/js")
@RenderSection("Styles", false)
<meta charset="utf-8" />
<title>@ViewBag.Title</title>
</head>
<body>
@RenderBody()
</body>
</html>
